[run]
omit =
    # omit db_util as it's optional and isn't tested
    *db_util.py
    *__init__.py
    *test_*
[report]
exclude_lines = 
    pragma: no cover
    if __name__ == .__main__.:
    if spec_dict is None:
