python_version >= "3.10"
dill == 0.3.7
h3 == 3.7.6
numpy == 1.25.2
pandas == 2.0.3
pyarrow == 11.0.0
pyyaml == 6.0.1
scipy == 1.11.1
shapely == 2.0.1
sql-metadata == 2.9.0
sqlalchemy == 1.4.39